.sidenav {
    background-color: #3f51b5;
    width: 200px;
}

.mat-nav-list > a {
    color: #FFF;
}

.mat-nav-list a i,
.mat-nav-list a span {
    color: #FFF !important;
}

.sidenav  i {
    padding-right: 10px;
    
}

.content {
    padding: 16px;
    background-color: #FFF; 
}

i, a {
    text-decoration: none;
    color: #FFF;
}