<mat-card class="card">
    <mat-card-title>Exclusão de Produto:</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Descrição" [(ngModel)]="product.name" name="name" disabled="trueq">
            
        </mat-form-field>
        <mat-form-field>
        <input matInput placeholder="Preço (R$)"  [(ngModel)]="product.price" name="price" disabled="true">
        </mat-form-field>

    </form>
    <div class="buttons">
        <button mat-raised-button (click)="deleteProduct()" color="warn">Excluir produto</button>
        <button mat-raised-button (click)="cancel()" class="cancel">Cancelar</button>

    </div>
</mat-card>
